* {
    margin: 0;
    padding: 0;
    background-color: rgb(231, 199, 158);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#logo {
    display: flex;
    margin: 2px;
    
}

#navbar {
    display: flex;
    align-items: center;
    margin: 5px;
    size-adjust: 5px;

}

#navbar ul 
{
    display: flex;
    background-color: black;
    margin:2px;
    padding:5px;
    align-items: center;
  
}
#navbar ul li {
    background-color: rgb(173, 173, 230);
    display:flex
}
#navbar ul li a{
    background-color: rgb(85, 62, 107);
    display: ;
    margin: 12px;
    padding: 5px;
}
#navpar::before 
{
    position: absolute;
    background-color: blanchedalmond;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    size: 500px;

}
body{
   
}